body {
    background-color: darkkhaki;
    font-family: "Parkinsans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Parkinsans", sans-serif;
    float: right;
    letter-spacing: 7px;
}

a {
    text-decoration: none;
    color: white
}


nav {
    background-color: sienna;
    clear: both;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px;
}

nav a:hover {
    transition: 0, 3s;
    font-weight: bold;
}

h2 {
    background-color: saddlebrown;
    text-align: left;
    color: white;
    clear: both;
}

img {
    display: block;
    max-width: 50%;
    padding: 7px;

}

.Croce {
    text-align: center;
}

.Fiore {
    float: left;
}

.Novella {
    float: right;
}